@{
    Layout = "";
}
@model  Nop.Plugin.Payments.PayU.Models.ConfigurationModel
@using Nop.Plugin.Payments.PayU.Models;
@using Nop.Web.Framework;

@using (Html.BeginForm())
{   
    @Html.AntiForgeryToken()
    <table class="adminContent">
        <tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.PosId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.PosId)
                    @Html.ValidationMessageFor(model => model.PosId)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.OAuthClientId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.OAuthClientId)
                    @Html.ValidationMessageFor(model => model.OAuthClientId)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.OAuthClientSecret):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.OAuthClientSecret)
                    @Html.ValidationMessageFor(model => model.OAuthClientSecret)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SecondKey):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.SecondKey)
                    @Html.ValidationMessageFor(model => model.SecondKey)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.BaseUrl):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.BaseUrl)
                    @Html.ValidationMessageFor(model => model.BaseUrl)
                </td>
            </tr>
            <tr>
                <td colspan="2" width="100%">
                    <button type="submit" name="save" value="save" class="t-button">
                        Save</button>
                </td>
            </tr>
    </table>
    
}