@{
    Layout = "";
}

@using Nop.Web.Framework;

@model  Nop.Plugin.Payments.PayU.Models.ConfigurationModel

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Plugins.Payments.PayU.Instructions")
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.PosId)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PosId)
                        @Html.ValidationMessageFor(model => model.PosId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.OAuthClientId)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.OAuthClientId)
                        @Html.ValidationMessageFor(model => model.OAuthClientId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.OAuthClientSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.OAuthClientSecret)
                        @Html.ValidationMessageFor(model => model.OAuthClientSecret)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SecondKey)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.SecondKey)
                        @Html.ValidationMessageFor(model => model.SecondKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.BaseUrl)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.BaseUrl)
                        @Html.ValidationMessageFor(model => model.BaseUrl)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Currency)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Currency)
                        @Html.ValidationMessageFor(model => model.Currency)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.TransactModeValues)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.TransactModeId, Model.TransactModeValues)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
